body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: #e0e0e0;
}

#leaderboard {
    margin: 20px auto;
    width: 80%;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: #e0e0e0;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    color: #e0e0e0;
}

th {
    background-color: #333;
    color: #ffffff;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    border: 1px solid #555;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

input {
    margin: 10px;
    padding: 10px;
    width: 200px;
    background-color: #333;
    color: #ffffff;
    border: 1px solid #555;
}

h1, h2 {
    color: #ffffff;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    #leaderboard {
        width: 90%;
    }

    input {
        width: 80%;
    }
}
